In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')
import time
from tqdm import tqdm
from IPython.display import Image
import regex as re
from IPython.core.display import display,HTML
from joblib import Parallel, delayed
from datetime import datetime
from selenium import webdriver
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
PATH=ChromeDriverManager().install()
import requests as req

In [2]:
url = 'https://api.thedogapi.com/v1/breeds?attach_breed=0'

In [3]:
res = req.get(url)
res

In [4]:
res.json()

In [5]:
breed = pd.DataFrame(res.json())

In [6]:
breed.drop(['weight', 'height', 'reference_image_id', 'country_code', 'description', 'history', 'image'], axis = 1, inplace = True)

In [7]:
breed.head()

,id,name,bred_for,breed_group,life_span,temperament,origin
0,1,Affenpinscher,"Small rodent hunting, lapdog",Toy,10 - 12 years,"Stubborn, Curious, Playful, Adventurous, Activ...","Germany, France"
1,2,Afghan Hound,Coursing and hunting,Hound,10 - 13 years,"Aloof, Clownish, Dignified, Independent, Happy","Afghanistan, Iran, Pakistan"
2,3,African Hunting Dog,A wild pack animal,NaN,11 years,"Wild, Hardworking, Dutiful",
3,4,Airedale Terrier,"Badger, otter hunting",Terrier,10 - 13 years,"Outgoing, Friendly, Alert, Confident, Intellig...","United Kingdom, England"
4,5,Akbash Dog,Sheep guarding,Working,10 - 12 years,"Loyal, Independent, Intelligent, Brave",

In [9]:
breed.shape

(172, 7)