In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')

In [2]:
colnames= ('ID', 'NOMBRE', 'UBICACION', 'CONTACTO')
protectoras = pd.DataFrame(columns=colnames)

In [3]:
elrefugio= {'ID': 1, 'NOMBRE': 'El Refugio', 'UBICACION': 'MADRID', 'CONTACTO': '(+34) 91 730 3680'}
protectoras = protectoras.append(elrefugio, ignore_index = True)

In [4]:
acunr= {'ID': 2, 'NOMBRE': 'ACUNR', 'UBICACION': 'MADRID', 'CONTACTO': 'acunrmadrid@gmail.com'}
protectoras = protectoras.append(acunr, ignore_index = True)

In [5]:
protectoras

  ID      NOMBRE UBICACION               CONTACTO
0  1  El Refugio    MADRID      (+34) 91 730 3680
1  2       ACUNR    MADRID  acunrmadrid@gmail.com